@model PasswordViewModel

@{
    ViewData["Title"] = "Смена пароля";
}

<div class="text-center">
    <h1 class="display-4">Смена пароля</h1>
</div>
<div class="register-form">
    <form method="post">
        @Html.AntiForgeryToken()
        <p>
            <label>Пароль</label>
            <input class="form-input" type="password" name="NewPassword1" value="@Model.NewPassword1" />
            <div class="error">@Html.ValidationMessageFor(m => m.NewPassword1)</div>
        </p>
        <p>
            <label>Повторим</label>
            <input class="form-input" type="password" name="NewPassword2" value="@Model.NewPassword2" />
            <div class="error">@Html.ValidationMessageFor(m => m.NewPassword2)</div>
        </p>
        <button>Добавить</button>
    </form>
</div>